input {
    outline: none;
}

.jump {
    width: 3em;
    border: 0;
    text-align: center;
    color: dimgray;
}

.jumpPage:visited {
    color: dimgray;
}

.jumpPage:hover {
    color: gray;
}

.course {
    font-size: 22px;
    font-weight: 700;
}

.course:visited, .course:link {
    color: #444;
}

.course:hover {
    color: black;
}

.coursedetail {
    color: dimgray;
}

.form {
    float: right;
    display: inline-block;
}

/*class left border effect*/
.csdetail {
    padding: 15px;
    border-left: 4px white solid;
    max-width: 800px;
    display: inline-block;
}

.csdetail:hover {
    border-left: 4px lightgray solid;
}

/*star colors*/
.stars0 {
    color: lightgray;
}

.stars1 {
    color: red;
}

.stars2 {
    color: orangered;
}

.stars3 {
    color: darkorange;
}

.stars4 {
    color: yellowgreen;
}

.stars5 {
    color: green;
}

/*advanced*/
.advance, .advance:visited {
    font-size: 14px;
    font-style: italic;
    padding: 2px;
    margin: 0;
    border-bottom: 1px white solid;
    border-left: 0;
    border-right: 0;
    border-top: 1px white solid;
    float: right;
    color: #eee;
    line-height: 100%;
    display: block;
}

.advance:hover {
    color: lightgray;
    border-bottom: 1px #eee dashed;
}

.advance2, .advance2:visited {
    font-size: 14px;
    font-style: italic;
    padding: 2px;
    margin: 0;
    float: right;
    color: #aaa;
    line-height: 100%;
    border-bottom: 1px lightgray dashed;
    border-left: 0;
    border-right: 0;
    border-top: 1px gray solid;
    background: white;
    display: block;
}

/*result indicator*/
.results {
    font-size: 14px;
    font-style: italic;
    text-align: right;
    color: lightgray;
    line-height: 100%;
}

/*popularity*/
.popularity {
    font-size: 8px;
    font-style: italic;
    text-align: right;
    color: #eee;
    line-height: 100%;
}

/*rating details*/
.ratingdetails {
    font-size: 10px;
    font-style: italic;
    line-height: 100%;
}

.noresult {
    color: pink;
    display: inline-block;
}

.navbar {
    color: lightgray;
    display: inline;
}

.navbar:hover {
    color: #bbb;
}

/*search input*/
.searchinput {
    color: darkblue;
    font-style: italic;
    width: 100%;
    line-height: 2em;
    border: white 1px solid;
}

.searchinput:hover {
    border-bottom: dimgray 1px solid;
}

.searchinput:focus {
    border-bottom: dimgray 1px solid;
    border-top: #eee 1px dashed;
}

.searchinput::placeholder {
    color: lightgray;
    font-style: italic;
}

.searchrow {
    display: inline-block;
}

.hr {
    margin-top: -4px;
    margin-bottom: 0;
}

/*Where to search*/
.advType0:after {
    content: "CN";
}

.advType0:hover:after {
    content: "Course Name";
}

.advType1:after {
    content: "CD";
}

.advType1:hover:after {
    content: "Course Detail";
}

.advType2:after {
    content: "TN";
}

.advType2:hover:after {
    content: "Teacher Name";
}

/*advanced search title*/
.title {
    font-weight: 700;
    color: #444;
}

.title:hover {
    color: black;
}

.advancebox {
    margin: 4px;
    display: inline-block;
    color: lightgray;
}

.advFilter {
    background: white;
    border: 0;
    outline: none;
    color: gray;
}