input {
    outline: none;
}

input[type=time] {
    background: white;
}

.jump {
    width: 3em;
    border: 0;
    text-align: center;
    color: dimgray;
}

.jump:hover {
    color: rebeccapurple;
}

.jump:focus {
    color: purple;
}

.jumpPage, .jumpPage1, .jumpPage2, .jumpPage3 {
    color: dimgray;
}

.jumpPage:visited, .jumpPage1:visited, .jumpPage2:visited, .jumpPage3:visited {
    color: dimgray;
}

.jumpPage:hover {
    color: orangered;
}

.jumpPage1:hover {
    color: green;
}

.jumpPage2:hover {
    color: darkorange;
}

.jumpPage3:hover {
    color: dodgerblue;
}

.course {
    font-size: 22px;
    font-weight: 700;
}

.course:visited, .course:link {
    color: #444;
}

.course:hover {
    color: black;
}

.coursedetail {
    color: dimgray;
}

.form {
    float: right;
    display: inline-block;
}

/*class left border effect*/
.csdetail {
    padding: 15px;
    border-left: 4px white double;
    max-width: 800px;
    display: inline-block;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    -ms-transition: border .5s;
    -o-transition: border .5s;
    transition: border .5s;
}

.csdetail:hover {
    border-left: 4px lightgray solid;
}

/*`d*/
.advance, .advance:visited {
    font-size: 14px;
    font-style: italic;
    padding: 2px;
    margin: 0;
    border-bottom: 1px white solid;
    border-left: 0;
    border-right: 0;
    border-top: 1px white dashed;
    float: right;
    color: #eee;
    cursor: pointer;
    line-height: 100%;
    display: block;
}

.advance:hover {
    color: lightgray;
    border-bottom: 1px #eee solid;
}

.advance2, .advance2:visited {
    font-size: 14px;
    font-style: italic;
    padding: 2px;
    margin: 0;
    cursor: pointer;
    float: right;
    color: #aaa;
    line-height: 100%;
    border-bottom: 1px lightgray dashed;
    border-left: 0;
    border-right: 0;
    border-top: 1px white dashed;
    background: white;
    display: block;
}

.advance2:hover {
    border-bottom: 1px lightgray solid;
    color: gray;
    border-top: 1px dimgray solid;
}

/*result indicator*/
.results {
    font-size: 14px;
    font-style: italic;
    text-align: right;
    color: lightgray;
    line-height: 100%;
}

/*popularity*/
.popularity {
    color: gray;
    font-size: 10px;
    font-style: italic;
    text-align: right;
    line-height: 100%;
    cursor: default;
}

.noresult {
    color: pink;
    display: inline-block;
}

.navbar {
    color: lightgray;
    display: inline;
    cursor: default;
    -webkit-transition: color 2s;
    -moz-transition: color 2s;
    -ms-transition: color 2s;
    -o-transition: color 2s;
    transition: color 2s;
}

.navbar:hover {
    color: gray;
}

/*search input*/
.searchinput {
    color: gray;
    font-style: italic;
    width: 100%;
    line-height: 2em;
    border: white 1px solid;
    -webkit-transition: color 1s, border 2s;
    -moz-transition: color 1s, border 2s;
    -ms-transition: color 1s, border 2s;
    -o-transition: color 1s, border 2s;
    transition: color 1s, border 2s;
}

.searchinput:hover {
    color: dimgray;
    border-bottom: gray 1px solid;
}

.searchinput:focus {
    color: darkblue;
    border-bottom: dimgray 1px solid;
    border-top: #eee 1px dashed;
}

.searchinput::placeholder {
    color: lightgray;
    font-style: italic;
}

.searchrow {
    display: inline-block;
}

.hr {
    margin-top: -4px;
    margin-bottom: 0;
}

/*advanced search title*/
.title {
    font-weight: 700;
    color: #444;
}

.title:hover {
    color: black;
}

.advancebox {
    margin: 4px;
    display: inline-block;
    color: lightgray;
}

.advFilter {
    background: white;
    border: 0;
    outline: none;
    color: gray;
}

/*hidden submit button*/
.hiddenSubmit {
    cursor: pointer;
    color: pink;
    padding: 0;
    font-size: 95%;
    margin: 0;
    font-weight: 300;
    display: none;
    border: 1px white dashed;
    font-style: italic;
    float: right;
    background: white;
    -webkit-transition: color 1s, border 2s;
    -moz-transition: color 1s, border 2s;
    -ms-transition: color 1s, border 2s;
    -o-transition: color 1s, border 2s;
    transition: color 1s, border 2s;
}

.hiddenSubmit:hover {
    color: red;
    border: 1px red solid;
}

input[type=time] {
    border: 0;
    color: lightgray;
}

input[type=time]:hover {
    color: gray;
}

input[type=time]:focus {
    color: green;
}

.commentstars {
    text-align: right;
    display: block;
}

.lessthan, .greaterthan {
    color: lightgray;
    cursor: default;
    -webkit-transition: color 4s;
    -moz-transition: color 4s;
    -ms-transition: color 4s;
    -o-transition: color 4s;
    transition: color 4s;
}

.lessthan:hover {
    color: dodgerblue;
}

.greaterthan:hover {
    color: orangered;
}

.comments {
    color: dimgray;
}

.commentUsername {
    color: white;
    -webkit-transition: color 4s;
    -moz-transition: color 4s;
    -ms-transition: color 4s;
    -o-transition: color 4s;
    transition: color 4s;
}

.commentUsername:hover {
    color: lightgray;
}

/*define checkbox behavior*/
.ckbx0 {
    color: lightgray;
}

.ckbx1 {
    color: green;
}

.ckbx0:hover {
    color: gray;
}

/*hidden submit button*/
.classchoose, .classchoose:visited {
    color: green;
    font-size: 95%;
    margin: 0;
    padding: 2px;
    font-weight: 700;
    cursor: pointer;
    border: 1px white dashed;
    background: white;
    -webkit-transition: color 1s, border 2s;
    -moz-transition: color 1s, border 2s;
    -ms-transition: color 1s, border 2s;
    -o-transition: color 1s, border 2s;
    transition: color 1s, border 2s;
}

.classchoose:hover {
    color: orangered;
    border: 1px orangered solid;
}

.classchooseconfirm, .classchooseconfirm:visited, .classchooseconfirm:focus {
    color: orangered;
    font-size: 95%;
    display: none;
    margin: 0;
    padding: 2px;
    font-weight: 700;
    border: 1px orangered dashed;
    background: white;
    -webkit-transition: color 1s, border 2s;
    -moz-transition: color 1s, border 2s;
    -ms-transition: color 1s, border 2s;
    -o-transition: color 1s, border 2s;
    transition: color 1s, border 2s;
}

.classchooseconfirm:hover {
    color: orangered;
    border: 1px orangered solid;
}

/*drop course*/
.classdrop, .classdrop:visited {
    color: pink;
    font-size: 95%;
    margin: 0;
    padding: 2px;
    font-weight: 700;
    cursor: pointer;
    border: 1px white dashed;
    background: white;
    -webkit-transition: color 1s, border 2s;
    -moz-transition: color 1s, border 2s;
    -ms-transition: color 1s, border 2s;
    -o-transition: color 1s, border 2s;
    transition: color 1s, border 2s;
}

.classdrop:hover {
    color: orangered;
    border: 1px orangered solid;
}

/*inactive h3 title*/
.h3inactive {
    color: lightgray;
}

.h3inactive:hover {
    color: #111111;
}

/*button for open course*/
.openCourseButton {
    padding: 15px;
    cursor: pointer;
    color: green;
}

.openCourseButton:hover:after {
    color: green;
    content: 'Open';
}

textarea {
    border: 2px white solid;
    outline: 0;
    width: 100%;
    color: gray;
    -webkit-transition: color 1s, border 2s;
    -moz-transition: color 1s, border 2s;
    -ms-transition: color 1s, border 2s;
    -o-transition: color 1s, border 2s;
    transition: color 1s, border 2s;
}

textarea::placeholder {
    color: lightgray;
    font-style: italic;
}

textarea:hover {
    border: 2px gray solid;
}

textarea:focus {
    border: 2px mediumpurple solid;
    color: rebeccapurple;
}

.openClassButton {
    border: 2px green solid;
    color: green;
    background: lightgreen;
    width: 100%;
}