/*universal setting*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html, html * {
    font-family: 'Open Sans', sans-serif;
}

/*@import url(http://fonts.googleapis.com/css?family=Homemade+Apple:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);*/
/*html, html * {*/
    /*font-family: 'Homemade Apple', sans-serif;*/
/*}*/

::selection {
    background: lightgray;
    color: dimgray;
}

body {
    font-size: 18px;
}

/*heading styles*/
h1 {
    font-weight: 900;
    font-size: 34px;
    line-height: 150%;
}

h2 {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    line-height: 100%;
    color: #ddd;
    text-align: right;
}

/*panel borders*/
.panel {
    margin: 20px;
    padding: 1em;
    border: 3px dimgray solid;
}

.panel:hover {
    border: 3px black solid;
}

/*navigation bar*/
.nav {
    float: right;
    display: inline-block;
}

p {
    line-height: 150%;
}

/*unvisited link*/
a {
    color: dimgray;
    text-decoration: none;
}

/*visited link*/
a:visited {
    color: dimgray;
}

/*link on hover*/
a:hover {
    color: gray;
    text-decoration: none;
}

/*horizontal line*/
hr {
    margin: 5px;
}

textarea {
    overflow-x: hidden;
}