/*Settings Styles*/
input[type=text], input[type=submit], input[type=password], textarea {
    width: 100%;
    background-color: white;
    alignment: center;
    color: black;
    border: white 2px solid;
    outline: none;
    display: inline-block;
}

.title {
    font-weight: bold;
}

input:focus, textarea:focus {
    border: 2px darkorange solid;
    color: darkblue;
}

.update {
    color: gray;
}

/*update dot*/
.update:after {
    color: green;
    content: '*';
}

.update:hover:after {
    color: red;
    content: '* Update';
}

.correct {
    color: green;
}

input[type = submit] {
    border: white 0 solid;
    font-style: italic;
    font-weight: 100;
    line-height: 100%;
    color: #ddd;
    text-align: right;
}

/*page handle bar style*/
.navbar:hover {
    color: white;
    display: inline;
}