/*other style*/
@import url(http://fonts.googleapis.com/css?family=Homemade+Apple:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html, html * {
    font-family: 'Homemade Apple', sans-serif;
}

.panel {
    border: 0;
}

.panel:hover {
    border: 0;
}

hr {
    border: 1px lightgray solid;
}